<div>
    <a href="/task1/stas/zhalba/29">Task 1</a>
</div>

<div>
    <a href="/task2">Task 2</a>
</div>

<div>
    <a href="/task3">Task 3</a>
</div>

<div>
    <a href="/users">Show users</a>
</div>