<div>
    <form method="get" action="/users/find">
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
        </div>

        <div>
            <label for="submit">Search:</label>
            <input type="submit" name="submit" id="submit">
        </div>
    </form>
</div>